{% extends "base.html" %}
{% block content %}
    <div class="ui centered grid" style="margin-top:75px">
        <div class="fourteen wide column">
            <div class="ui segment">
                <h2 class="ui header">
                    <i class="yellow idea icon"></i>

                    <div class="content">
                        EDA 簡介
                    </div>
                </h2>
                <p>
                    由於積體電路的製程技術和設計複雜度的日益提升，先進之奈米級晶片所含的電晶體數目動輒以數十億計。設計如此複雜的晶片，需要運算快速且功能強大的電子設計自動化(Electronic Design
                    Automation)軟體以提高晶片設計生產力，電子設計自動化是一個結合了電子與資訊科技的尖端技術，將晶片設計所遇到的問題與瓶頸，轉換成數學與邏輯的模型，然後用電腦語言與演算法，實現成軟體的工具，在電腦高速運算的輔助之下，對問題提供一個有效的解決之道，在眾多的資訊工程領域裡，只有非常少數的學科能像EDA一般，同時整合軟硬體的理論背景及實務應用。
                </p>

                <p>
                    然而電子設計自動化所需要解決的問題，已越來越複雜且多樣化，因此，舉凡電路設計流程中各個階段所可能遭遇到的問題，例如：軟硬體共同開發，電路驗證與合成之自動化及最佳化，實體電路之佈局最佳化，晶片在奈米製程所造成的變異與影響，以及最後晶片的封裝與測試等等，皆是電子設計自動化領域所要研究與探討的課題。此外，電子設計自動化的技術也被應用在其他新興科技領域中，例如智慧車科技、微流體生物晶片、智慧家庭、再生能源、物聯網等，皆需要軟硬體的理論背景，進一步去開發高效能之演算法進行最佳化，提高產品價值。
                </p>

                <p>
                    本研究領域除了有政府以及業界所提供充裕的研究經費外，近年來之研究成果皆發表於EDA最頂尖之國際會議 ACM/IEEE DAC和IEEE/ACM
                    ICCAD，學生競賽部分除在教育部所舉辦之IC/CAD競賽獲得特優等獎項外，也獲得ACM
                    CADAthlon國際程式設計競賽冠軍，多位教師亦榮獲國內外學術獎以及論文獎，並且任職EDA領域國際頂尖會議議程委員及國際頂尖期刊之編輯委員，在國際合作上，與美國、德國、丹麥、日本、印度、中國、新加坡等著名大學皆有研究合作及學生互訪之活動。
                </p>

                <h3 class="ui dividing header">
                    About EDA
                </h3>

                <p>
                    Due to the advance in process technologies and the growth of system/circuit design complexity, the
                    number of transistors in a state-of-the-art system on chip (SOC) or integrated circuit (IC) is
                    usually on the order of billion (~109 transistors). Designing such a complex system is no longer
                    possible with human capabilities, and thus necessitates the software tools for electronic design
                    automation (EDA) so as to enhance designers' productivity. EDA is an interdisciplinary field of
                    computer science (CS), computer engineering (CE), and electronic engineering (EE), which formulates
                    and translates high-complexity problems of system/circuit design into mathematical or logical
                    models, and then solves the problems with software implementation of dedicated algorithms. There are
                    only a few computer science disciplines integrating theory with practice, and integrating software
                    and hardware - EDA is one of them.
                </p>

                <p>
                    Traditional applications of EDA include solving various problems throughout the entire SOC/IC design
                    flow, such as software/hardware co-design, functional verification, logic synthesis and
                    optimization, automatic placement and routing, design for manufacturability, reliability, and
                    testability, etc. Furthermore, the applicability of EDA has extended to intelligent vehicles, smart
                    grids/houses, microfluidic biochips, renewable energy, and internet of things. With the explosive
                    growth of complexity of these emerging topics, the support of effective and efficient design
                    automation is becoming necessary, and many EDA techniques can seamlessly contribute.
                </p>

                <p>
                    Our research group is running plenty of projects funded by the government and industry. We have
                    recently presented many outstanding research results in ACM/IEEE Design Automation Conference (DAC)
                    and IEEE/ACM International Conference on Computer-Aided Design (ICCAD), the two topmost
                    international conferences in the EDA community. Several teams of students won worldwide programming
                    contests such as IC/CAD contest and ACM CADathlon. Majority of the faculty members earned
                    thesis/paper awards and academic achievement awards, and served (or are serving) in the technical
                    program committee for major EDA conferences, and/or in the editorial board for major EDA journals.
                    Also, we have massive research interaction and collaboration with many universities around the
                    world, including the United States, Germany, Denmark, Japan, India, China, and Singapore.
                </p>
            </div>
        </div>
    </div>
{% endblock %}