{% extends "base.html" %}
{% block content %}
    <div class="ui centered grid" style="margin-top:75px">
        <div class="fourteen wide column">
            <div class="ui segment">
                <a class="ui blue ribbon label">論文下載</a>
                <table class="ui celled striped table">
                    <thead>
                    <tr>
                        <th>檔名</th>
                        <th>資訊</th>
                        <th>上傳者</th>
                        <th>上傳日期</th>
                    </tr></thead><tbody>
                <tr>
                    <td class="collapsing">
                        <i class="folder icon"></i> something
                    </td>
                    <td>Initial commit</td>
                    <td>吳凱強</td>
                    <td class="right aligned collapsing">2014/05/14</td>
                </tr>
                <tr>
                    <td>
                        <i class="file archive outline icon"></i> star.zip
                    </td>
                    <td>Initial commit</td>
                    <td>吳凱強</td>
                    <td class="right aligned">2014/04/09</td>
                </tr>
                <tr>
                    <td>
                        <i class="file word outline icon"></i> foo.docx
                    </td>
                    <td>Initial commit</td>
                    <td>吳凱強</td>
                    <td class="right aligned">2014/02/04</td>
                </tr>
                <tr>
                    <td>
                        <i class="file pdf outline icon"></i> bar.pdf
                    </td>
                    <td>Initial commit</td>
                    <td>吳凱強</td>
                    <td class="right aligned">2014/01/04</td>
                </tr>
                <tr>
                    <td>
                        <i class="file powerpoint outline icon"></i> abc.pptx
                    </td>
                    <td>Initial commit</td>
                    <td>吳凱強</td>
                    <td class="right aligned">2014/01/01</td>
                </tr>
                </tbody>
                </table>
            </div>
            <br>
            <div class="ui segment">
                <a class="ui green ribbon label">文件下載</a>
                <table class="ui celled striped table">
                    <thead>
                    <tr>
                        <th>檔名</th>
                        <th>資訊</th>
                        <th>上傳者</th>
                        <th>上傳日期</th>
                    </tr></thead><tbody>
                <tr>
                    <td class="collapsing">
                        <i class="folder icon"></i> something
                    </td>
                    <td>Initial commit</td>
                    <td>吳凱強</td>
                    <td class="right aligned collapsing">2014/05/14</td>
                </tr>
                <tr>
                    <td>
                        <i class="file archive outline icon"></i> star.zip
                    </td>
                    <td>Initial commit</td>
                    <td>吳凱強</td>
                    <td class="right aligned">2014/04/09</td>
                </tr>
                <tr>
                    <td>
                        <i class="file word outline icon"></i> foo.docx
                    </td>
                    <td>Initial commit</td>
                    <td>吳凱強</td>
                    <td class="right aligned">2014/02/04</td>
                </tr>
                <tr>
                    <td>
                        <i class="file pdf outline icon"></i> bar.pdf
                    </td>
                    <td>Initial commit</td>
                    <td>吳凱強</td>
                    <td class="right aligned">2014/01/04</td>
                </tr>
                <tr>
                    <td>
                        <i class="file powerpoint outline icon"></i> abc.pptx
                    </td>
                    <td>Initial commit</td>
                    <td>吳凱強</td>
                    <td class="right aligned">2014/01/01</td>
                </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}