{% extends "base.html" %}
{% block content %}
<script>
$(document).ready(function(){
	$('#progress').hide();
	$('button.add').click(function(){
		var file = document.getElementById('attach_file').files[0];
		var classification = $('select[name=classification]').val();
		if(classification == ''){
			alert('請選擇分類');
			return;
		}
		if(typeof(file) == 'undefined'){
			alert('請選擇檔案');
			return;
		}
		var formdata = new FormData($('form')[0]);
		$('#progress').show();
		$.ajax({
			url: '/downloads/',
			type: 'POST',
			xhr: function() {
				var myXhr = $.ajaxSettings.xhr();
				if(myXhr.upload){
					myXhr.upload.addEventListener('progress', progresshandler, false);
				}
				return myXhr;
			},
			beforeSend: function(){},
			success: function(res){
				if(res[0] == 'E'){
					if(res == 'Eexist'){
						alert('已存在同檔名的檔案，請換一個檔名');
					}
				}else{
					alert('上傳成功');
					location.reload();
				}
			},
			error: function(){alert('error');},
			data: formdata,
			cache: false,
			contentType: false,
			processData: false
		});	
	});
	var progressbar = $('.basic.progress');
	function progresshandler(e){
		var Percent = 100 * e.loaded / e.total;
		progressbar.progress({
			label: false,
			value: Percent,
			text: {
				active: '{percent}% Complete',
				success: 'Done!'
			}
		});
	}
	progressbar.progress({
		label: false,
		value: 0,
		text: {
			active: '{percent}% Complete',
			success: 'Done!'
		}
	});
	$('div.del').click(function(){
		var did = $(this).find('input').val();
		$.post('/downloads/',{
			'req': 'del',
			'did': did,
			'csrfmiddlewaretoken': '{{ csrf_token }}',
		},function(res){
			alert(res);
			if(res[0] == 'E'){
				alert(res);
			}else{
				alert('刪除成功');
				location.reload();
			}
		});
	});
});
</script>
    <div class="ui centered grid" style="margin-top:75px">
        <div class="fourteen wide column">
			{% if user.is_authenticated %}
			<div class="ui segment">
				<form id="add" class="ui form">
					<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
					<input name="req" type="hidden" value="add">
					<input name="uploader" type="hidden" value="{{ user.username }}">
					<div class="field">
						<label>資訊</label>
						<textarea name='description' type="text" ></textarea>
					</div>
					<div class="field">
						<label>分類</label>
						<select class="ui dropdown" name='classification'>
							<option value="" selected></option>
							<option value="論文">論文</option>
							<option value="文件">文件</option>
						</select>
					</div>
					<div class="field">
						<label>上傳檔案</label>
						<input id="attach_file" name='attach_file' type="file">
					</div>
					<button type="button" class="ui submit orange button add">確認</button>
				</form>
				<div class="ui segment" id="progress">
					<div class="ui basic progress">
						<div class="bar">
							<div class="progress"></div>
						</div>
						<div class="label">Uploading Files</div>
					</div>
				</div>
			</div>
			{% endif %}
            <div class="ui segment">
                <a class="ui blue ribbon label">論文下載</a>
                <table class="ui celled striped table">
                    <thead>
                    	<tr>
                        	<th>檔名</th>
                        	<th>資訊</th>
                        	<th>上傳者</th>
                        	<th>上傳日期</th>
							{% if user.is_authenticated %}
							<th></th>
							{% endif %}
                    	</tr>
					</thead>
					<tbody>
						{% for download in downloads0 %}
						<tr>
							<td class="collapsing">
								<i class="folder icon"></i> <a href="/html/{{ download.filename }}">{{ download.filename }}</a>
							</td>
							<td>{{ download.description }}</td>
							<td>{{ download.uploader }}</td>
							<td class="right aligned collapsing">{{ download.created_time.year }}/{{ download.created_time.month }}/{{ download.created_time.day }}</td>
							{% if user.is_authenticated %}
							<td>
								<div class="ui right floated green button">
									<i class="edit icon"></i>修改
								</div>
								<div class="ui right floated red button del">
									<i class="delete icon"></i>刪除
									<input type="hidden" value="{{ download.did }}"></input>
								</div>
							</td>
							{% endif %}
						</tr>
						{% endfor %}
                	</tbody>
                </table>
            </div>
            <br>
            <div class="ui segment">
                <a class="ui green ribbon label">文件下載</a>
                <table class="ui celled striped table">
                    <thead>
						<tr>
							<th>檔名</th>
							<th>資訊</th>
							<th>上傳者</th>
							<th>上傳日期</th>
							{% if user.is_authenticated %}
							<th></th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for download in downloads1 %}
						<tr>
							<td class="collapsing">
								<i class="folder icon"></i> <a href="/html/{{ download.filename }}">{{ download.filename }}</a>
							</td>
							<td>{{ download.description }}</td>
							<td>{{ download.uploader }}</td>
							<td class="right aligned collapsing">{{ download.created_time.year }}/{{ download.created_time.month }}/{{ download.created_time.day }}</td>
							{% if user.is_authenticated %}
							<td>
								<div class="ui right floated green button">
									<i class="edit icon"></i>修改
								</div>
								<div class="ui right floated red button del">
									<i class="delete icon"></i>刪除
									<input type="hidden" value="{{ download.did }}"></input>
								</div>
							</td>
							{% endif %}
						</tr>
						{% endfor %}
                	</tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
