{% extends "base.html" %}
{% block content %}
<section id="home_top">
	
</section>
<section id="home_new">
	<div class="ui grid" style="margin-top:75px">
		<div class="two wide column"></div>
		<div class="twelve wide column">
			<div class="ui segment">
				<div class="ui animated list">
					<!--頂置item start-->
					<div class="item">
						<div class="ui vertcal segment">
							<i class="announcement icon"></i>
							<div class="ui red horizontal label">招生</div>
							<b>Description</b>
						</div>
					</div>
					<div class="item">
						<div class="ui vertcal segment">
							<i class="announcement icon"></i>
							<div class="ui purple horizontal label">獲獎</div>
							<b>Description</b>
						</div>
					</div>
					<!--頂置item end-->
					<!--公告item start-->
					<div class="item">
						<div class="ui vertcal segment">
							<i class="info icon"></i>
							<div class="ui red horizontal label">招生</div>
							<b>Description</b>
						</div>
					</div>
					<div class="item">
						<div class="ui vertcal segment">
							<i class="info icon"></i>
							<div class="ui purple horizontal label">獲獎</div>
							<b>Description</b>
						</div>
					</div>
					<!--公告item end-->
				</div>
			</div>
		</div>
	</div>
</section>
<section id="home_eda">



</section>
<section id="home_lab">



</section>
<section id="home_pro">



</section>
<footer>
	
</footer>
{% endblock %}