{% extends "base.html" %}
{% block content %}
    <div class="ui centered grid" style="margin-top:75px">
        <div class="fourteen wide column">
			<section id="home_top">
				<!--slideshow-->
			</section>
			<br>
			<section id="home_new">
				<h5 class="ui block header">
					最新消息
				</h5>
				<div class="ui segment">
					<div class="ui animated list">
						<!--頂置item start-->
                        {% for news in news_list_1 %}
						<div class="item">
							<div class="ui vertcal segment">
								<i class="announcement icon"></i>
                                <div class="ui blue horizontal label">置頂</div>
                                <div class="ui green horizontal label">{{ news.classification }}</div>
                                <b>{{ news.title }}</b>
							</div>
						</div>
                        {% endfor %}
						<!--頂置item end-->
						<!--公告item start-->
                        {% for news in news_list_0 %}
						<div class="item">
							<div class="ui vertcal segment">
                                <i class="announcement icon"></i>
                                <div class="ui green horizontal label">{{ news.classification }}</div>
                                <b>{{ news.title }}</b>
							</div>
						</div>
                        {% endfor %}
						<!--公告item end-->
					</div>
				</div>
			</section>
			<br>
			<section id="home_eda">
				<h5 class="ui block header">
					EDA 簡介
				</h5>
				<div class="ui segment">
					<!--short intro of eda-->
				</div>
			</section>
			<br>
			<section id="home_lab">
				<h5 class="ui block header">
					實驗室介紹
				</h5>
				<div class="ui segment">
					<!--short intro of lab-->
				</div>
			</section>
			<br>
			<section id="home_pro">
				<h5 class="ui block header">
					教授介紹
				</h5>
				<div class="ui segment">
					<!--short intro of professor-->
				</div>
			</section>
		</div>
	</div>
	<footer>
		
	</footer>
{% endblock %}