{% extends "base.html" %}
{% block content %}
    <script type="text/javascript" src="../html/Data/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="../html/Data/jquery.localscroll-1.2.7-min.js"></script>
	<script type="text/javascript" src="../html/Data/jquery.scrollTo-1.4.2-min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		//.parallax(xPosition, speedFactor, outerHeight) options:
		//xPosition - Horizontal position of the element
		//inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
		//outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
		$('#intro').parallax("50%", 0.1);
		$('#eda').parallax("50%", 0.1);
		$('#great').parallax("50%", 0.4);
		$('#idea').parallax("50%", 0.3);
	});
	</script>
	<div class="ui centered grid" style="margin-top:50px">
		<div class=""id="intro" style>
			<div class="ui grid">
				<div class="centered row">
					<div class="two wide column"></div>
					<div class="twelve wide column">
						<br><br><br>
						<img src="../html/Data/homeword.gif">
					</div>
					<div class="two wide column"></div>
				</div>
				<div class="center aligned row">
					<div class="two wide column"></div>
					<div class="twelve wide column">
						<div class="orange small circular ui icon button"></div><br><br>
						<div class="green big circular ui icon button"></div><br><br>
						<div class="blue maasive circular ui icon button">
							<i class="blue circle icon"></i>
						</div><br><br>
						<div class="ui grey massive vertical animated button">
						  <div class="visible content">Find  Out  Why !</div>
						  <div class="hidden content">
							<i class="down arrow icon"></i>
						  </div>
						</div>
					</div>
					<div class="two wide column"></div>
					
				</div>
			</div>
		</div>
		<div id="eda">
			
		</div>
		<div id="great">
			
		</div>
		<div id="idea">
			
		</div>
	</div>
	<style type="text/css">
		#intro{
			background:url(../html/Data/home01.jpg) 50% 0 no-repeat fixed;
			color: white;
			height: 600px;
			margin: 0 auto;
			padding: 0;
			background-size: 100%;
		}
		#eda{
			background:url(../html/Data/home02.jpg) 50% 0 no-repeat fixed;
			color: white;
			height: 600px;
			margin: 0 auto;
			padding: 0;
			background-size: 100%;
		}
		#great{
			background:url(../html/Data/home03.jpg) 50% 0 no-repeat fixed;
			color: white;
			height: 600px;
			margin: 0 auto;
			padding: 0;
			background-size: 100%;
		}
		#idea{
			background:url(../html/Data/home04.jpg) 50% 0 no-repeat fixed;
			color: white;
			height: 600px;
			margin: 0 auto;
			padding: 0;
			background-size: 100%;
		}
	</style>
			<br>
			<section id="home_new">
				<h5 class="ui block header">
					最新消息
				</h5>
				<div class="ui segment">
					<div class="ui animated list">
						<!--頂置item start-->
                        {% for news in news_list_1 %}
						<div class="item">
							<div class="ui vertcal segment">
								<i class="announcement icon"></i>
                                <div class="ui blue horizontal label">置頂</div>
                                <div class="ui green horizontal label">{{ news.classification }}</div>
                                <b>{{ news.title }}</b>
							</div>
						</div>
                        {% endfor %}
						<!--頂置item end-->
						<!--公告item start-->
                        {% for news in news_list_0 %}
						<div class="item">
							<div class="ui vertcal segment">
                                <i class="announcement icon"></i>
                                <div class="ui green horizontal label">{{ news.classification }}</div>
                                <b>{{ news.title }}</b>
							</div>
						</div>
                        {% endfor %}
						<!--公告item end-->
					</div>
				</div>
			</section>
			<br>
			<section id="home_eda">
				<h5 class="ui block header">
					EDA 簡介
				</h5>
				<div class="ui segment">
					<!--short intro of eda-->
				</div>
			</section>
			<br>
			<section id="home_lab">
				<h5 class="ui block header">
					實驗室介紹
				</h5>
				<div class="ui segment">
					<!--short intro of lab-->
				</div>
			</section>
			<br>
			<section id="home_pro">
				<h5 class="ui block header">
					教授介紹
				</h5>
				<div class="ui segment">
					<!--short intro of professor-->
				</div>
			</section>
		</div>
	</div>
	<footer>
		
	</footer>
{% endblock %}