{% extends "base.html" %}
{% block content %}
    {% comment %}
    http://people.cs.nctu.edu.tw/~kcw/
    {% endcomment %}
    <div class="ui grid" style="margin-top:75px">
        <div class="centered row">
            <div class="four wide column">
                <div class="ui segment">
                    <img class="ui medium rounded image"
                         src="https://de42820c3fd6c19a2ef0554de81514f23d513e37.googledrive.com/host/0B0OZD1XRjVcNfi1PME10WUZKTG9aUk01YXpFbkRaeFVKOWQwS2tFRkFVLTVzRnViU0VZXzA/EDA/kcw.jpg">

                    <h3 class="ui header">
                        Kai-Chiang Wu 吳凱強
                        <div class="sub header">Assistant Professor</div>
                    </h3>
                    <div class="ui list">
                        <a class="item">
                            <i class="top aligned right triangle icon"></i>

                            <div class="content">
                                <div class="header">School</div>
                                <div class="description">National Chiao Tung University</div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="top aligned right triangle icon"></i>

                            <div class="content">
                                <div class="header">Department</div>
                                <div class="description">Department of Computer Science</div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="top aligned right triangle icon"></i>

                            <div class="content">
                                <div class="header">Phone</div>
                                <div class="description">+886-3-571-2121 #54734</div>
                            </div>
                        </a>
                        <a class="item">
                            <i class="top aligned right triangle icon"></i>

                            <div class="content">
                                <div class="header">Email</div>
                                <div class="description">kcw@cs.nctu.edu.tw</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ten wide column">
                <div class="ui segment">
                    <a class="ui teal left ribbon label">Education</a>

                    <div class="ui bulleted list">
                        <a class="item">Ph.D.: Department of Electrical and Computer Engineering, Carnegie Mellon
                            University, Pittsburgh, PA, USA</a>
                        <a class="item">M.Sc.: Department of Computer Science, National Tsing Hua University, Hsinchu,
                            Taiwan</a>
                        <a class="item">B.Sc.: Department of Computer Science, National Tsing Hua University, Hsinchu,
                            Taiwan</a>
                    </div>
                    <a class="ui teal left ribbon label">Experiences</a>

                    <div class="ui bulleted list">
                        <a class="item">2013/08 - Present: Assistant Professor, Department of Computer Science, National
                            Chiao Tung University</a>
                        <a class="item">2011/08 - 2013/07: Senior Software Engineer, Design Technology Solutions, Intel
                            Corporation, USA</a>
                        <a class="item">2006/08 - 2011/07: Research/Teaching Assistant, Energy Aware Computing (EnyAC)
                            Research Group, Carnegie Mellon University</a>
                        <a class="item">2006/02 - 2006/06: Research Assistant, Electronic Commerce Research Center,
                            National Sun Yat-Sen University</a>
                        <a class="item">2004/12 - 2006/01: Ensign Instructor, Information Section, Naval Technical
                            School, R.O.C. Navy</a>
                    </div>
                    <a class="ui teal left ribbon label">Research Interests</a>

                    <div class="ui bulleted list">
                        <a class="item">IoT之電腦輔助設計 (computer-aided design for the Internet of Things)</a>
                        <a class="item">SoC設計自動化 (electronic design automation, system-on-chip/chip-multiprocessor
                            design verification and optimization)</a>
                        <a class="item">高效節能計算 (high-performance energy-aware computing, approximate/green
                            computing)</a>
                        <a class="item">可靠系統設計 (reliable/trustworthy system design)</a>
                        <a class="item">簡言之，我們實作軟體來自動化IoT/SoC/CMP(多處理器)設計流程中的分析及優化等步驟，目標在於開發出高效節能(Green)、長效(REliable)及可靠(And
                            Trustworthy)的GREAT系統。</a>
                    </div>
                </div>
                <div class="ui segment">
                    <a class="ui orange left ribbon label">Journal Articles</a>

                    <div class="ui bulleted list">
                        <a class="item">[J05] Kai-Chiang Wu, Niharika Singh, and Diana Marculescu, "Mitigating
                            Performance Degradation: A Unified Perspective of Vth Shifts due to Aging," in
                            preparation.</a>
                        <a class="item">[J04] Kai-Chiang Wu, Ing-Chao Lin, Yao-Te Wang, and Shuen-Shiang Yang,
                            "BTI-Aware Sleep Transistor Sizing Algorithm for Reliable Power Gating Designs," accepted
                            and in press, IEEE Transactions on Computer-Aided Design of Integrated Circuits and
                            Systems.</a>
                        <a class="item">[J03] Ing-Chao Lin, Kuan-Hui Li, Chia-Hao Lin, and Kai-Chiang Wu, "NBTI and
                            Leakage Reduction Using ILP-Based Approach," IEEE Transactions on Very Large Scale
                            Integration Systems, vol. 22, no. 9, pp. 2034-2038, Sep. 2014.</a>
                        <a class="item">[J02] Kai-Chiang Wu and Diana Marculescu, "Power-Planning-Aware Soft Error
                            Hardening via Selective Voltage Assignment," IEEE Transactions on Very Large Scale
                            Integration Systems, vol. 22, no. 1, pp. 136-145, Jan. 2014.</a>
                        <a class="item">[J01] Kai-Chiang Wu and Diana Marculescu, "A Low-Cost, Systematic Methodology
                            for Soft Error Robustness of Logic Circuits," IEEE Transactions on Very Large Scale
                            Integration Systems, vol. 21, no. 2, pp. 367-379, Feb. 2013.</a>
                    </div>
                    <a class="ui orange left ribbon label">Conference Papers</a>

                    <div class="ui bulleted list">
                        <a class="item">[C11] Kai-Chiang Wu, Ming-Chao Lee, Diana Marculescu, and Shih-Chieh Chang,
                            "Mitigating Lifetime Underestimation: A System-Level Approach Considering Temperature
                            Variations and Correlations between Failure Mechanisms," in Proc. of Design, Automation, and
                            Test in Europe Conference (DATE), pp. 1269-1274, March 2012. (Acceptance rate = xx.yy%)</a>
                        <a class="item">[C10] Kai-Chiang Wu, Diana Marculescu, Ming-Chao Lee, and Shih-Chieh Chang,
                            "Analysis and Mitigation of NBTI-Induced Performance Degradation for Power-Gated Circuits,"
                            in Proc. of Int'l Symposium on Low Power Electronics and Design (ISLPED), pp. 139-144, Aug.
                            2011. (Acceptance rate = 67/195 = 34%)</a>
                        <a class="item">[C09] Kai-Chiang Wu and Diana Marculescu, "Aging-Aware Timing Analysis and
                            Optimization Considering Path Sensitization," in Proc. of Design, Automation, and Test in
                            Europe Conference (DATE), pp. 1572-1577, March 2011. (Acceptance rate = 27.02%)</a>
                        <a class="item">[C08] Kai-Chiang Wu and Diana Marculescu, "Clock Skew Scheduling for
                            Soft-Error-Tolerant Sequential Circuits," in Proc. of Design, Automation, and Test in Europe
                            Conference (DATE), pp. 717-722, March 2010. (Acceptance rate = 26.80%)</a>
                        <a class="item">[C07] Kai-Chiang Wu and Diana Marculescu, "Joint Logic Restructuring and Pin
                            Reordering against NBTI-Induced Performance Degradation," in Proc. of Design, Automation,
                            and Test in Europe Conference (DATE), pp. 75-80, April 2009. (Acceptance rate = 27.49%) </a>
                        <a class="item">[C06] Natasa Miskov-Zivanov, Kai-Chiang Wu, and Diana Marculescu, "Process
                            Variability-Aware Transient Fault Modeling and Analysis," in Proc. of Int'l Conference on
                            Computer-Aided Design (ICCAD), pp. 685-690, Nov. 2008. (Acceptance rate = 122/458 =
                            26.64%)</a>
                        <a class="item">[C05] Kai-Chiang Wu and Diana Marculescu, "Power-Aware Soft Error Hardening via
                            Selective Voltage Scaling," in Proc. of Int'l Conference on Computer Design (ICCD), pp.
                            301-306, Oct. 2008. (Acceptance rate = 34%, Best Paper Award)</a>
                        <a class="item">[C04] Kai-Chiang Wu and Diana Marculescu, "Soft Error Rate Reduction Using
                            Redundancy Addition and Removal," in Proc. of Asia and South Pacific Design Automation
                            Conference (ASP-DAC), pp. 559-564, Jan. 2008. (Acceptance rate = 100/350 = 28.57%)</a>
                        <a class="item">[C03] Kai-Chiang Wu, Cheng-Tao Hsieh, and Shih-Chieh Chang, "Delay Variation
                            Tolerance for Domino Circuits," in Proc. of Asia and South Pacific Design Automation
                            Conference (ASP-DAC), pp. 354-359, Jan. 2006. (Acceptance rate = 135/432 = 31.25%)</a>
                        <a class="item">[C02] Cheng-Tao Hsieh, Kai-Chiang Wu, and Shih-Chieh Chang, "Redundancy Addition
                            for Tolerating Delay Variance," in VLSI Design/CAD Symposium (Domestic), Aug. 2004.</a>
                        <a class="item">[C01] Shih-Chieh Chang, Cheng-Tao Hsieh, and Kai-Chiang Wu, "Re-synthesis for
                            Delay Variation Tolerance," in Proc. of Design Automation Conference (DAC), pp. 814-819,
                            June 2004. (Acceptance rate = 163/785 = 20.76%) </a>
                    </div>
                    <a class="ui orange left ribbon label">Talks & Posters</a>

                    <div class="ui bulleted list">
                        <a class="item">Seminar at EE, NTU: Computer-Aided IC Design for Reliability: Verification and
                            Optimization, Dec. 2014.</a>
                        <a class="item">Seminar at CSE, YZU: Computer-Aided IC Design for Reliability: Verification and
                            Optimization, March 2014.</a>
                        <a class="item">EDA Forum: Analysis and Optimization of Aging-Induced Performance Degradation,
                            Oct. 2013.</a>
                        <a class="item">Innovation with Impact Research Exhibition: Optimizing Circuit Reliability: From
                            Functional to Temporal Perspectives, Carnegie Mellon University, April 2011.</a>
                        <a class="item">Ph.D. Forum at DAC 2010: Reducing Circuit Soft Error Rate (SER): From
                            Combinational to Sequential Circuits, June 2010.</a>
                        <a class="item">University Booth at DATE 2010: Reducing Circuit Soft Error Rate (SER): From
                            Combinational to Sequential Circuits, March 2010.</a>
                        <a class="item">CMU CSSI Seminar: On the Mitigation of NBTI-Induced Performance Degradation,
                            Dec. 2009.</a>
                        <a class="item">CMU CSSI Seminar: Circuit Optimization Techniques for Radiation-Induced Soft
                            Errors, April 2008.</a>
                    </div>
                    <a class="ui orange left ribbon label">Professional Service</a><br><br>

                    <div class="ui yellow horizontal label">After joining NCTU</div>
                    <div class="ui bulleted list">
                        <div class="item">
                            <a>Member</a>

                            <div class="list">
                                <a class="item">Technical Program Committee, ICCAD (2014).</a>
                            </div>
                        </div>
                        <div class="item">
                            <a>Reviewer, the following journals:</a>

                            <div class="list">
                                <a class="item">IEEE TR (2014)</a>
                                <a class="item">IEEE TVLSI (2014)</a>
                                <a class="item">Journal of Electronic Testing (2014)</a>
                            </div>
                        </div>
                    </div>
                    <div class="ui yellow horizontal label">Before joining NCTU</div>
                    <div class="ui bulleted list">
                        <div class="item">
                            <a>Reviewer, the following journals:</a>

                            <div class="list">
                                <a class="item">IEEE TC (2008)</a>
                                <a class="item">IEEE TCAD (2009, 2011)</a>
                                <a class="item">IEEE TVLSI (2010)</a>
                                <a class="item">IEEE TDMR (2010)</a>
                                <a class="item">ACM TODAES (2010-2011)</a>
                                <a class="item">Microelectronics Reliability (2010)</a>
                                <a class="item">Journal of Electronic Testing (2012)</a>
                            </div>
                        </div>
                        <div class="item">
                            <a>Reviewer, the following conferences: </a>

                            <div class="list">
                                <a class="item">ICCAD (2007-2008)</a>
                                <a class="item">VLSI Design (2008)</a>
                                <a class="item">DAC (2009-2011)</a>
                                <a class="item">DATE (2010)</a>
                                <a class="item">ISCA (2010)</a>
                                <a class="item">NOCS (2010)</a>
                                <a class="item">ICCD (2010)</a>
                                <a class="item">ICECS (2010)</a>
                                <a class="item">ISLPED (2011)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}