{% extends "base.html" %}
{% block content %}
    <div class="ui centered grid" style="margin-top:75px">
        <div class="four wide column">
            <div class="ui segment">
                <form class="ui form" method="post" action="login"> {% csrf_token %}
                    <h4 class="ui dividing header">登入</h4>

                    <div class="field">
                        <label>帳號</label>
                        <input name="username" type="text">
                    </div>
                    <div class="field">
                        <label>密碼</label>
                        <input name="password" value="{{ news.title }}" type="password">
                    </div>
                    <button type="submit" class="ui submit blue button">登入</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}