{% extends "base.html" %}
{% block content %}
    {% comment %}
    TODO: Make every card same height
    https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes
    TODO: Make pic same size
    TODO: Devide into desktop/tablet/mobile view
    TODO: Add loading animation to the picture
    {% endcomment %}
    <div class="ui centered grid" style="margin-top:75px">
        <div class="twelve wide centered column">
            <div class="ui special cards">
                <div class="ui card">
                    <div class="dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui teal button">介紹</div>
                                </div>
                            </div>
                        </div>
                        <img src="https://de42820c3fd6c19a2ef0554de81514f23d513e37.googledrive.com/host/0B0OZD1XRjVcNfi1PME10WUZKTG9aUk01YXpFbkRaeFVKOWQwS2tFRkFVLTVzRnViU0VZXzA/EDA/kcw.jpg">
                    </div>
                    <div class="content">
                        <a class="header">吳凱強 Kai-Chiang Wu</a>

                        <div class="meta">
                            <span>助理教授</span>
                        </div>
                        <div class="description">
                            IoT之電腦輔助設計
                            <br>SoC設計自動化
                            <br>高效節能計算
                            <br>可靠系統設計
                            <br>
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="lab icon"></i>
                            Computer-Aided Design for G(reen)-RE(liable)-A(nd)-T(rustworthy)/GREAT Systems
                        </a>
                    </div>
                    <a href="/kcw/" class="ui bottom attached blue button">
                        <i class="info icon"></i>
                        更多
                    </a>
                </div>
                <div class="ui card">
                    <div class="dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui teal button">介紹</div>
                                </div>
                            </div>
                        </div>
                        <img src="https://de42820c3fd6c19a2ef0554de81514f23d513e37.googledrive.com/host/0B0OZD1XRjVcNfi1PME10WUZKTG9aUk01YXpFbkRaeFVKOWQwS2tFRkFVLTVzRnViU0VZXzA/EDA/ylli.jpg">
                    </div>
                    <div class="content">
                        <a class="header">李毅郎 Yih-Lang Li</a>

                        <div class="meta">
                            <span class="date">教授</span>
                        </div>
                        <div class="description">
                            VLSI CAD for SoC Design
                            <br>DSB process
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="lab icon"></i>
                            超大型積體電路設計自動化實驗室
                        </a>
                    </div>
                    <a href="/ylli/" class="ui bottom attached blue button">
                        <i class="info icon"></i>
                        更多
                    </a>
                </div>
                <div class="ui card">
                    <div class="dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui teal button">介紹</div>
                                </div>
                            </div>
                        </div>
                        <img src="https://de42820c3fd6c19a2ef0554de81514f23d513e37.googledrive.com/host/0B0OZD1XRjVcNfi1PME10WUZKTG9aUk01YXpFbkRaeFVKOWQwS2tFRkFVLTVzRnViU0VZXzA/EDA/tyho.jpg">
                    </div>

                    <div class="content">
                        <a class="header">何宗易 Tsung-Yi Ho</a>

                        <div class="meta">
                            <span class="date">教授</span>
                        </div>
                        <div class="description">
                            設計自動化演算法(微流體生物晶片、智慧電網、車用電子、奈米積體電路等)
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="lab icon"></i>
                            智慧設計自動化實驗室
                        </a>
                    </div>
                    <a href="/tyho/" class="ui bottom attached blue button">
                        <i class="info icon"></i>
                        更多
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.special.cards .image').dimmer({
                on: 'hover'
            });
        });
    </script>
{% endblock %}