{% extends "base.html" %}
{% block content %}

    <div class="ui centered grid" style="margin: 30px auto 25px">
        <div class="four wide column" >
            <div class="ui card">
                <div class="image">
                    <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
                </div>
                <div class="content">
                    <a class="header">吳凱強</a>
                    <div class="meta">
                        <span class="date">Kai-Chiang Wu 助理教授 </span>
                    </div>
                    <div class="description" style="min-height: 75px;">
                        IoT之電腦輔助設計
                        <br>SoC設計自動化
                        <br>高效節能計算
                        <br>可靠系統設計
                        <br>
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="lab icon"></i>
                        Computer-Aided Design for G(reen)-RE(liable)-A(nd)-T(rustworthy)/GREAT Systems
                    </a>
                </div>
                <div class="extra content">
                    <a>
                        <i class="lab icon"></i>
                        Computer-Aided Design for G(reen)-RE(liable)-A(nd)-T(rustworthy)/GREAT Systems
                    </a>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui card">
                <div class="image">
                    <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
                </div>
                <div class="content">
                    <a class="header">李毅郎</a>
                    <div class="meta">
                        <span class="date">Yih-Lang Li 教授</span>
                    </div>
                    <div class="description" style="min-height: 110px;">
                        VLSI CAD for SoC Design
                        <br>DSB process
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="lab icon"></i>
                        超大型積體電路設計自動化實驗室
                    </a>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui card">
                <div class="image">
                    <img src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
                </div>
                <div class="content">
                    <a class="header">Stevie Feliciano</a>
                    <div class="meta">
                        <span class="date">Joined in 2014</span>
                    </div>
                    <div class="description" style="min-height: 110px;">
                        Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="user icon"></i>
                        22 Friends
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}