{% extends "base.html" %}
{% block content %}
<script>
$(document).ready(function(){
    $(document).ready(function () {$('.ui.checkbox').checkbox();});
	$('button.mod')	.click(function(){
		var title=$('input[name=title]').val();
		var content=$('textarea[name=content]').val();
		var top=$('input[name=top]:checked').val()||'0';
		var author=$('input[name=author]').val();
		var classification=$('select[name=classification]').val();
		var csrfmiddlewaretoken=$('input[name=csrfmiddlewaretoken]').val();
		if(title==''){
			alert('請輸入標題');
			return;
		}else if(content==''){
			alert('請輸入內文');
			return;
		}else if(classification==''){
			alert('請選擇分類');
			return;
		}
		$.post('/news/',{
			'req':'mod',
			'nid':{{ news.nid }},
			'title':title,
			'content':content,
			'top':top,
			'author':author,
			'classification':classification,
			'csrfmiddlewaretoken':'{{ csrf_token }}'
		},function(res){
			if(res[0]=='E'){
				alert(res);
			}else{
				alert('修改成功');
				location.reload();
			}
		});
	});
})
</script>
    <div class="ui centered grid" style="margin-top:75px">
        <div class="fourteen wide column">
            {% if user.is_authenticated %}
                <div class="ui segment">
                    <form class="ui form"> {% csrf_token %}
                        <h4 class="ui dividing header">修改新聞</h4>
                        <div class="field">
                            <label>發表人</label>
                            <input name="author" value="{{ news.author }}" type="text">
                        </div>
                        <div class="field">
                            <label>標題</label>
                            <input name="title" value="{{ news.title }}" type="text">
                        </div>
                        <div class="field">
                            <label>內容</label>
                            <textarea name="content">{{ news.content }}</textarea>
                        </div>
                        <div class="field">
                            <label>分類</label>
                            <select name="classification" class="ui dropdown">
                                <option value="{{ news.classification }}">分類</option>
                                <option value="獲獎">獲獎</option>
                                <option value="招生">招生</option>
                            </select>
                        </div>
                        <div class="field">
                            <div class="ui toggle checkbox {% if news.top %}checked{% endif %}">
                                <input name="top" type="radio" value="1" {% if news.top %}checked{% endif %}>
                                <label>置頂</label>
                            </div>
                        </div>
                        <button type="button" class="ui submit orange button mod">確認</button>
                    </form>
                </div>
            {% endif %}
            <div class="ui segment">
                <h2 class="ui header">
                    <i class="feed icon"></i>
                    <div class="content">
                        {{ news.title }}
                        <div class="sub header">作者:{{ news.author }}{% if news.modified %}更新時間:
                            {{ news.modified_time.year }}-{{ news.modified_time.month }}-{{ news.modified_time.day }}
                            {{ news.created_time.time }}{% endif %}發表時間:{{ news.created_time.year }}-{{ news.created_time.month }}-{{ news.created_time.day }} {{ news.created_time.time }}</div>
                    </div>
                    <div class="extra">
                        <div class="ui green horizontal label">{{ news.classification }}</div>
                    </div>
                </h2>
                <p>{{ news.content | linebreaksbr }}</p>
            </div>
        </div>
    </div>
{% endblock %}
