{% extends "base.html" %}
{% block content %}
    <div class="ui grid" style="margin-top:75px">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div class="ui segment">
                <a class="ui teal ribbon label">頂置</a>
                <div class="ui vertical segment">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
                                <a class="header">實驗室招生囉！</a>
                                <div class="meta">
                            <span class="cinema">2015/03/13
                            </span>
                                </div>
                                <div class="description">
                                    本實驗室目前開始招生，即日起請聯絡eda@nctu.edu.tw來獲得最新消息
                                </div>
                                <div class="extra">
                                    <div class="ui right floated primary button">詳細閱讀
                                        <i class="right chevron icon"></i></div>
                                    <div class="ui red horizontal label">招生</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui vertical segment">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
                                <a class="header">恭賀本實驗室榮獲EDA創新研發大獎</a>
                                <div class="meta">
                                    <span class="cinema">2015/01/12</span>
                                </div>
                                <div class="description">
                                    本實驗室研究生於美國MIT獲得EDA創新研發大獎!
                                </div>
                                <div class="extra">
                                    <div class="ui right floated primary button">詳細閱讀
                                        <i class="right chevron icon"></i></div>
                                    <div class="ui purple horizontal label">獲獎</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <a class="ui orange ribbon label">公告</a>
                <div class="ui vertical segment">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
                                <a class="header">實驗室招生囉！</a>
                                <div class="meta">
                            <span class="cinema">2015/03/13
                            </span>
                                </div>
                                <div class="description">
                                    本實驗室目前開始招生，即日起請聯絡eda@nctu.edu.tw來獲得最新消息
                                </div>
                                <div class="extra">
                                    <div class="ui right floated primary button">詳細閱讀
                                        <i class="right chevron icon"></i></div>
                                    <div class="ui red horizontal label">招生</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui vertical segment">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
                                <a class="header">恭賀本實驗室榮獲EDA創新研發大獎</a>
                                <div class="meta">
                                    <span class="cinema">2015/01/12</span>
                                </div>
                                <div class="description">
                                    本實驗室研究生於美國MIT獲得EDA創新研發大獎!
                                </div>
                                <div class="extra">
                                    <div class="ui right floated primary button">詳細閱讀
                                        <i class="right chevron icon"></i></div>
                                    <div class="ui purple horizontal label">獲獎</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui vertical segment">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
                                <a class="header">恭賀本實驗室榮獲EDA創新研發大獎</a>
                                <div class="meta">
                                    <span class="cinema">2015/01/12</span>
                                </div>
                                <div class="description">
                                    本實驗室研究生於美國MIT獲得EDA創新研發大獎!
                                </div>
                                <div class="extra">
                                    <div class="ui right floated primary button">詳細閱讀
                                        <i class="right chevron icon"></i></div>
                                    <div class="ui purple horizontal label">獲獎</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}