{% extends "base.html" %}
{% block content %}
    <div class="ui centered grid" style="margin-top:75px">
        <div class="fourteen wide column">
            <div class="ui segment">
                <h2 class="ui header">
                    <i class="feed icon"></i>

                    <div class="content">
                        {{ news.title }}
                        <div class="sub header">作者:{{ news.author }}{% if news.modified %}更新時間:
                            {{ news.modified_time.year }}-{{ news.modified_time.month }}-{{ news.modified_time.day }}
                            {{ news.created_time.time }}{% endif %}發表時間:{{ news.created_time.year }}-{{ news.created_time.month }}-{{ news.created_time.day }} {{ news.created_time.time }}</div>
                    </div>
                    <div class="extra">
                        <div class="ui green horizontal label">{{ news.classification }}</div>
                    </div>
                </h2>
                <p>{{ news.content }}</p>
            </div>
        </div>
    </div>
{% endblock %}