{% extends "base.html" %}
{% block content %}
<script>
$(document).ready(function(){
	$('button.add').click(function(){
		var title = $('input[name=title]').val();
		var content = $('textarea[name=content]').val();
		var top = $('input[name=top]:checked').val()||'0';
		var author = $('input[name=author]').val();
		var classification = $('select[name=classification]').val();
		if(title == ''){
			alert('請輸入標題');
			return;
		}else if(content == ''){
			alert('請輸入內文');
			return;
		}else if(classification == ''){
			alert('請選擇分類');
			return;
		}
		$.post('/news/', {
			'req': 'add',
			'title': title,
			'content': content,
			'top': top,
			'author': author,
			'classification': classification,
			'csrfmiddlewaretoken': '{{ csrf_token }}'
		},function(res){
			if(res[0] == 'E'){
				alert(res);
			}else{
				alert('新增成功');
				location.reload();
			}
		});
	});
	$('div.del').click(function(){
		var nid = $(this).find('input').val();
		$.post('/news/', {
			'req': 'del',
			'nid': nid,
			'csrfmiddlewaretoken': '{{ csrf_token }}'
		},function(res){
			if(res == 'S'){
				alert('刪除成功');
				location.reload();
			}else if(res[0] == 'E'){
				alert(res);
			}
		});
	});
});
</script>
    <div class="ui centered grid" style="margin-top:75px">
        <div class="fourteen wide column">
            {{ debug }}
            {% if user.is_authenticated %}
                <div class="ui segment">
					<form class="ui form" method="post" action="">
                        <input name="req" type="hidden" value="add">
                        <input name="author" type="hidden" value="{{ user.username }}">
                        <h4 class="ui dividing header">新增新聞</h4>
                        <div class="field">
                            <label>標題</label>
                            <input name="title" type="text">
                        </div>
                        <div class="field">
                            <label>內容</label>
                            <textarea name="content"></textarea>
                        </div>
                        <div class="field">
                            <label>分類</label>
                            <select name="classification" class="ui dropdown">
                                <option value="">分類</option>
                                <option value="獲獎">獲獎</option>
                                <option value="招生">招生</option>
                            </select>
                        </div>
                        <div class="field">
                            <div class="ui toggle checkbox">
                                <input name="top" type="radio" value="1">
                                <label>置頂</label>
                            </div>
                        </div>
                        <button type="button" class="ui submit orange button add">確認</button>
                    </form>
                </div>
            {% endif %}

            <div class="ui segment">
                <a class="ui teal ribbon label">頂置</a>
                {% for news in news_list_1 %}
                    <div class="ui vertical segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="content">
                                    <a class="header">{{ news.title }}</a>
                                    <div class="meta">
								<span class="cinema">
                                    {% if news.modified %}更新時間:{{ news.modified_time.year }}-
                                        {{ news.modified_time.month }}-{{ news.modified_time.day }}
                                        {{ news.created_time.time }}{% endif %}
                                    發表時間:{{ news.created_time.year }}-{{ news.created_time.month }}-{{ news.created_time.day }} {{ news.created_time.time }}
                                </span>
                                    </div>
                                    <div class="description">
                                        {{ news.content }}
                                    </div>
                                    <div class="extra">
                                        <a href="/news/{{ news.nid }}" class="ui right floated primary button">詳細閱讀
                                            <i class="right chevron icon"></i>
                                        </a>
                                        {% if user.is_authenticated %}
                                            <div class="ui right floated green button"><i class="edit icon"></i>修改
                                            </div>
											<div class="ui right floated red button del"><i class="delete icon"></i>刪除
												<input type="hidden" value="{{news.nid}}"></input>
                                            </div>
                                        {% endif %}
                                        <div class="ui red horizontal label">{{ news.classification }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="ui segment">
				<a class="ui orange ribbon label">News</a>
                {% for news in news_list_0 %}
                    <div class="ui vertical segment">
                        <div class="ui items">
                            <div class="item">
                                <div class="content">
                                    <a class="header">{{ news.title }}</a>

                                    <div class="meta">
								<span class="cinema">
                                    {% if news.modified %}更新時間:{{ news.modified_time.year }}-
                                        {{ news.modified_time.month }}-{{ news.modified_time.day }}
                                        {{ news.created_time.time }}{% endif %}
                                    發表時間:{{ news.created_time.year }}-{{ news.created_time.month }}-{{ news.created_time.day }} {{ news.created_time.time }}
                            </span>
                                    </div>
                                    <div class="description">
                                        {{ news.content }}
                                    </div>
                                    <div class="extra">
                                        <a href="/news/{{ news.nid }}" class="ui right floated primary button">詳細閱讀
                                            <i class="right chevron icon"></i>
                                        </a>
                                        {% if user.is_authenticated %}
                                            <div class="ui right floated green button"><i class="edit icon"></i>修改
                                            </div>
											<div class="ui right floated red button del"><i class="delete icon"></i>刪除
												<input type="hidden" value="{{ news.nid }}"></input>
                                            </div>
                                            {% comment %}
                                            <form>
                                                <input name="nid" type="hidden" value="{{ news.nid }}">
                                                <input name="req" type="hidden" value="del">
                                                <button class="ui submit red button">確認刪除</button>
                                            </form>
                                            {% endcomment %}
                                        {% endif %}
                                        <div class="ui red horizontal label">{{ news.classification }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="ui centered grid">
                <div class="middle aligned column">
                    <div class="ui borderless pagination menu">
                        <a class="item">
                            <i class="left arrow icon"></i> 上一頁
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="item">5</a>
                        <a class="item">6</a>
                        <a class="item">
                            下一頁 <i class="icon right arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.ui.checkbox')
                    .checkbox()
            ;
        });
    </script>
{% endblock %}
