{% extends "base.html" %}
{% block content %}
    <div class="ui centered grid" style="margin-top:75px">
        <div class="fourteen wide column">
            <div class="ui segment">
                <a class="ui teal ribbon label">頂置</a>
				{% for news in news_list_1 %}
                <div class="ui vertical segment">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
								<a class="header">{{news.title}}</a>
                                <div class="meta">
								<span class="cinema">{{news.created_time}}
                            </span>
                                </div>
                                <div class="description">
									{{news.content}}
                                </div>
                                <div class="extra">
                                    <div class="ui right floated primary button">詳細閱讀
                                        <i class="right chevron icon"></i></div>
									<div class="ui red horizontal label">{{news.classification}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				{% endfor %}
            </div>
            <div class="ui segment">
                <a class="ui orange ribbon label">公告</a>
				{% for news in news_list_0 %}
                <div class="ui vertical segment">
                    <div class="ui items">
                        <div class="item">
                            <div class="content">
								<a class="header">{{news.title}}</a>
                                <div class="meta">
								<span class="cinema">{{news.created_time}}
                            </span>
                                </div>
                                <div class="description">
									{{news.content}}
                                </div>
                                <div class="extra">
                                    <div class="ui right floated primary button">詳細閱讀
                                        <i class="right chevron icon"></i></div>
									<div class="ui red horizontal label">{{news.classification}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				{% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
